.banner {
  @include flex-align-center;
  @include hero-height;
  background-image: linear-gradient($black-50-opacity),
    url(../assets/images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  &__title {
    @include header(24px, 32px);
    @include outer-margin;
    @include hero-padding;
    color: $white;
    @include tablet {
      @include header(60px, 68px);
    }
    @include desktop {
      @include header(60px, 68px);
    }
  }
}
