.content {
  @extend .container;
  padding: 32px 0;
  @include outer-margin;
  &__title {
    @include header(24px, 32px);
    color: $black;
    margin-top: 0;
    margin-bottom: 40px;
    display: inline-block;
  }
}

.shows-list {
  @extend .container;
  padding: 0;
  list-style: none;
  &__item {
    border-bottom: 1px solid $mercury;
    padding: 16px 0;
  }

  &__date-wrapper,
  &__venue-wrapper,
  &__location-wrapper {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: 24px;
    }
  }
  &__date-wrapper::before {
    content: "DATE";
    @include subheader(14px, 22px);
    color: $silver;
  }
  &__venue-wrapper::before {
    content: "VENUE";
    @include subheader(14px, 22px);
    color: $silver;
  }
  &__location-wrapper::before {
    content: "LOCATION";
    @include subheader(14px, 22px);
    color: $silver;
  }

  &__date {
    margin-top: 16px;
    margin-bottom: 24px;
    @include subheader(14px, 18px);
  }
  &__venue,
  &__location {
    margin-top: 16px;
    margin-bottom: 24px;
    @include text(14px, 18px);
  }

  &__btn {
    padding: 13px 36.789px;
    background: $black;
    color: $white;
    border-radius: 4px;
    opacity: 0.9;
    @include subheader(14px, 22px);
    text-align: center;
    &:hover {
      opacity: 1;
    }
  }
  @include tablet {
    .shows-list {
      &__item {
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;
        &:first-child {
          .shows-list__date-wrapper::before,
          .shows-list__venue-wrapper::before,
          .shows-list__location-wrapper::before {
            display: block;
            margin-bottom: 40px;
          }
        }
      }
      &__date-wrapper,
      &__venue-wrapper,
      &__location-wrapper {
        width: 25%;
      }
      &__date-wrapper::before,
      &__venue-wrapper::before,
      &__location-wrapper::before {
        display: none;
      }
      &__date,
      &__venue,
      &__location {
        margin: 0;
      }
    }
  }
}
