@font-face {
  font-family: "Avenir-Regular";
  src: url("../../assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: "Avenir-Light";
  src: url("../../assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Light.otf");
}

@font-face {
  font-family: "Avenir-Bold";
  src: url("../../assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: "Avenir-Demi";
  src: url("../../assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.site-header {
  background: #323232;
}

@media (min-width: 768px) {
  .site-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1.5rem;
  }
}

@media (min-width: 1440px) {
  .site-header {
    padding: 0 11.25rem;
  }
}

.site-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.site-header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.625rem 0;
  margin-right: auto;
  width: 100%;
}

.nav-bar {
  width: 100%;
  text-align: center;
}

.nav-bar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Avenir-Regular";
  font-size: 0.813rem;
  line-height: 1.125rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .nav-bar__list {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media (min-width: 1440px) {
  .nav-bar__list {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media (min-width: 768px) {
  .nav-bar__list {
    margin: 0 3.5rem;
  }
}

.nav-bar__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (min-width: 768px) {
  .nav-bar__item {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

.nav-bar__link {
  color: #afafaf;
  display: block;
  padding: 0.625rem;
}

@media (min-width: 768px) {
  .nav-bar__link {
    padding: 1.8rem 1.25rem;
  }
}

.nav-bar__link:hover, .nav-bar__link--active {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 11.438rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 50, 50, 0.5))), url(../../assets/images/hero.jpg);
  background-image: linear-gradient(rgba(50, 50, 50, 0.5)), url(../../assets/images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .banner {
    height: 25rem;
  }
}

@media (min-width: 1440px) {
  .banner {
    height: 41.875rem;
  }
}

.banner__title {
  font-family: "Avenir-Bold";
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 1rem;
  padding-right: 4.875rem;
  color: #ffffff;
}

@media (min-width: 768px) {
  .banner__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

@media (min-width: 1440px) {
  .banner__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

@media (min-width: 768px) {
  .banner__title {
    margin: 0 1.5rem;
  }
}

@media (min-width: 1440px) {
  .banner__title {
    margin: 0 11.25rem;
  }
}

@media (min-width: 768px) {
  .banner__title {
    padding-right: 11.5rem;
  }
}

@media (min-width: 1440px) {
  .banner__title {
    padding-right: 31.5rem;
  }
}

.about__container {
  margin: 0 1rem;
}

@media (min-width: 768px) {
  .about__container {
    margin: 0 1.5rem;
  }
}

@media (min-width: 1440px) {
  .about__container {
    margin: 0 11.25rem;
  }
}

.about__container--title {
  font-family: "Avenir-Bold";
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .about__container--title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

@media (min-width: 1440px) {
  .about__container--title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

@media (min-width: 768px) {
  .about__container--title {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 1440px) {
  .about__container--title {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

.about__img {
  width: 100%;
}

@media (min-width: 1440px) {
  .about__img {
    padding: 0 5.75rem;
  }
}

.about__img--caption {
  font-family: "Avenir-Demi";
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .about__img--caption {
    margin-top: 3rem;
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 1440px) {
  .about__img--caption {
    margin-top: 3rem;
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 768px) {
  .about__img--caption {
    font-family: "Avenir-Demi";
  }
}

@media (min-width: 1440px) {
  .about__img--caption {
    font-family: "Avenir-Regular";
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "Avenir-Demi";
    padding: 0 5.75rem;
  }
}

@media (min-width: 1440px) and (min-width: 768px) {
  .about__img--caption {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (min-width: 1440px) and (min-width: 1440px) {
  .about__img--caption {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.about__img--credit {
  font-family: "Avenir-Regular";
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin: 0;
}

@media (min-width: 768px) {
  .about__img--credit {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 1440px) {
  .about__img--credit {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 1440px) {
  .about__img--credit {
    padding: 0 5.75rem;
  }
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 1rem;
}

@media (min-width: 768px) {
  .description {
    margin: 0 1.5rem;
  }
}

@media (min-width: 1440px) {
  .description {
    margin: 0 11.25rem;
  }
}

@media (min-width: 1440px) {
  .description {
    padding: 0 5.75rem;
  }
}

.description__container--paragraph {
  font-family: "Avenir-Light";
  font-size: 0.813rem;
  line-height: 1.125rem;
}

@media (min-width: 768px) {
  .description__container--paragraph {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

@media (min-width: 1440px) {
  .description__container--paragraph {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

@media (min-width: 768px) {
  .description__container--paragraph {
    width: 93%;
    text-align: left;
  }
}

.description__title {
  margin: 0 1rem;
  font-family: "Avenir-Demi";
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .description__title {
    margin: 0 1.5rem;
  }
}

@media (min-width: 1440px) {
  .description__title {
    margin: 0 11.25rem;
  }
}

@media (min-width: 768px) {
  .description__title {
    margin-top: 3.5rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 1440px) {
  .description__title {
    margin-top: 3.5rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 1440px) {
  .description__title {
    padding: 0 5.75rem;
    font-family: "Avenir-Regular";
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "Avenir-Demi";
  }
}

@media (min-width: 1440px) and (min-width: 768px) {
  .description__title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (min-width: 1440px) and (min-width: 1440px) {
  .description__title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (min-width: 768px) {
  .description {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1440px) {
  .description {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.gallery {
  background: #fafafa;
}

.gallery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1rem;
  margin: 0 1rem;
}

@media (min-width: 768px) {
  .gallery__container {
    margin: 0 1.5rem;
  }
}

@media (min-width: 1440px) {
  .gallery__container {
    margin: 0 11.25rem;
  }
}

.gallery__title {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-family: "Avenir-Bold";
  font-size: 1.5rem;
  line-height: 2rem;
  width: 100%;
}

@media (min-width: 768px) {
  .gallery__title {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 1440px) {
  .gallery__title {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

@media (min-width: 768px) {
  .gallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

@media (min-width: 1440px) {
  .gallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

@media (min-width: 1440px) {
  .gallery__title {
    margin-bottom: 4rem;
  }
}

.gallery__image {
  width: 100%;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .gallery__image {
    width: 31.25%;
    margin-bottom: 1.5rem;
  }
}

.site-footer {
  background: #323232;
  padding: 3rem 1rem 2rem 1rem;
}

@media (min-width: 768px) {
  .site-footer {
    padding: 2rem 1.5rem 2rem 1.5rem;
  }
}

@media (min-width: 1440px) {
  .site-footer {
    padding: 3rem 11.25rem 2rem 11.25rem;
  }
}

@media (min-width: 768px) {
  .site-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .site-footer__container {
    margin-right: 2.5rem;
  }
}

@media (min-width: 1440px) {
  .site-footer__container {
    margin-right: 5rem;
  }
}

.site-footer__title {
  font-family: "Avenir-Bold";
  font-size: 1.5rem;
  line-height: 2rem;
  color: #ffffff;
  margin: 0;
  font-size: 2.25rem;
}

@media (min-width: 768px) {
  .site-footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

@media (min-width: 1440px) {
  .site-footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

@media (min-width: 768px) {
  .footer {
    width: 63.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  .footer {
    width: 72%;
  }
}

.footer__list {
  font-family: "Avenir-Regular";
  font-size: 0.813rem;
  line-height: 1.125rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .footer__list {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media (min-width: 1440px) {
  .footer__list {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.footer__list__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (min-width: 768px) {
  .footer__list__item {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

.footer__link--icon {
  margin: 1rem;
}

.footer__link--logo {
  display: none;
}

@media (min-width: 768px) {
  .footer__link--logo {
    display: block;
  }
}

.footer-box {
  width: 100%;
}

@media (min-width: 768px) {
  .footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  .footer-box {
    width: 74.44%;
  }
}

.footer-box__container {
  color: #ffffff;
  margin-top: 1.5rem;
}

.footer-box__contact {
  width: 100%;
  color: #ffffff;
  margin-top: 1.5rem;
}

.footer-box__contact--name {
  font-family: "Avenir-Regular";
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin: 0;
}

@media (min-width: 768px) {
  .footer-box__contact--name {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 1440px) {
  .footer-box__contact--name {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.footer-box__contact--address {
  font-family: "Avenir-Regular";
  font-size: 0.813rem;
  line-height: 1.125rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .footer-box__contact--address {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media (min-width: 1440px) {
  .footer-box__contact--address {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.footer-box__contact--email {
  font-family: "Avenir-Regular";
  font-size: 0.813rem;
  line-height: 1.125rem;
  margin: 0;
}

@media (min-width: 768px) {
  .footer-box__contact--email {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media (min-width: 1440px) {
  .footer-box__contact--email {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.footer-box__contact--copyright {
  color: #ffffff;
  font-family: "Avenir-Regular";
  font-size: 0.813rem;
  line-height: 1.125rem;
  margin-top: 2.5rem;
  margin-bottom: 0;
  display: block;
  width: 100%;
}

@media (min-width: 768px) {
  .footer-box__contact--copyright {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media (min-width: 1440px) {
  .footer-box__contact--copyright {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
/*# sourceMappingURL=main.css.map */