.about {
  &__container {
    @include outer-margin;
    &--title {
      color: $black;
      @include header(24px, 32px);
      @include title-margin;
      @include tablet {
        @include header(36px, 44px);
      }
      @include desktop {
        @include header(36px, 44px);
      }
    }
  }
  &__img {
    width: 100%;
    @include desktop {
      padding: 0 5.75rem;
    }
    &--caption {
      @include subheader(14px, 22px);
      @include caption-margin;

      @include tablet {
        @include subheader(24px, 32px);
      }
      @include desktop {
        @include subheader(24px, 32px);
        padding: 0 5.75rem;
      }
    }
    &--credit {
      @include text(14px, 22px);
      margin: 0;
      @include tablet {
        @include text(16px, 24px);
      }
      @include desktop {
        @include text(16px, 24px);
        padding: 0 5.75rem;
      }
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  @include outer-margin;
  @include desktop {
    padding: 0 5.75rem;
  }
  &__container {
    &--paragraph {
      @include text(13px, 18px);
      @include tablet {
        width: 93%;
        text-align: left;
        @include text(14px, 22px);
      }
      @include desktop {
        @include text(14px, 22px);
      }
    }
  }
  &__title {
    color: $black;
    @include outer-margin;
    @include subheader(14px, 22px);
    @include subtitle-margin;
    @include tablet {
      @include subheader(24px, 32px);
    }
    @include desktop {
      padding: 0 5.75rem;
      @include subheader(24px, 32px);
    }
  }
  @include tablet {
    flex-direction: row;
    justify-content: center;
  }
  @include desktop {
    flex-direction: row;
    justify-content: center;
  }
}

.gallery {
  background: $alabaster;
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 1rem;
    @include outer-margin;
  }
  &__title {
    color: $black;
    @include title-margin;
    @include header(24px, 32px);
    width: 100%;
    @include tablet {
      @include header(36px, 44px);
    }
    @include desktop {
      @include header(36px, 44px);
    }
  }
  &__image {
    width: 100%;
    margin-bottom: 1rem;
    @include tablet {
      width: 31.25%;
      margin-bottom: 1.5rem;
    }
    @include desktop {
      width: 31.25%;
      margin-bottom: 1.5rem;
    }
  }
}
