@font-face {
  font-family: "Avenir-Regular";
  src: url("../assets/fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: "Avenir-Light";
  src: url("../assets/fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Light.otf");
}

@font-face {
  font-family: "Avenir-Bold";
  src: url("../assets/fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: "Avenir-Demi";
  src: url("../assets/fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Demi.otf");
}
