.site-footer {
  background: $black;
  @include footer-padding;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__container {
    @include tablet {
      margin-right: 2.5rem;
    }
    @include desktop {
      margin-right: 5rem;
    }
  }
  &__title {
    @include header(36px, 44px);
    color: $white;
    margin: 0;
    @include tablet {
      @include header(36px, 44px);
    }
    @include desktop {
      @include header(36px, 44px);
    }
  }
}

.footer {
  @include tablet {
    width: 63.5%;
    @include flex-align-center;
    justify-content: space-between;
  }
  @include desktop {
    width: 72%;
  }
  &__list {
    @include links;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    &__item {
      flex-grow: 1;
      @include tablet {
        flex-grow: 0;
      }
    }
  }
  &__link {
    &--icon {
      margin: 1rem;
    }
    &--logo {
      display: none;
      @include tablet {
        display: block;
      }
    }
  }
}

.footer-box {
  width: 100%;
  @include tablet {
    display: flex;
    justify-content: space-between;
  }
  @include desktop {
    width: 74.44%;
  }
  &__container {
    color: $white;
    margin-top: 1.5rem;
  }
  &__contact {
    width: 100%;
    color: $white;
    margin-top: 1.5rem;
    &--name {
      @include subheader(14px, 22px);
      margin: 0;
      @include tablet {
        @include header(16px, 24px);
      }
      @include desktop {
        @include header(16px, 24px);
      }
    }
    &--address {
      @include text(13px, 18px);
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      @include tablet {
        @include text(14px, 20px);
      }
      @include desktop {
        @include text(14px, 20px);
      }
    }
    &--email {
      @include text(13px, 18px);
      margin: 0;
      @include tablet {
        @include text(14px, 20px);
      }
      @include desktop {
        @include text(14px, 20px);
      }
    }
    &--copyright {
      color: $white;
      @include text(13px, 18px);
      margin-top: 2.5rem;
      margin-bottom: 0;
      display: block;
      width: 100%;
      @include tablet {
        @include text(14px, 20px);
      }
      @include desktop {
        @include text(14px, 20px);
      }
    }
  }
}
